<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ra</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
      // $(document).ready(function () {
      //   // $("#a").load("http://localhost:3000/out");
      //   setInterval(function () {
      //     $("#a").load("http://localhost:3000/out");
      //   }, 2000);
      // });
      var my_interval;
      function start_interval() {
        my_interval = setInterval(function () {
          $("#a").load("http://localhost:3000/out");
        }, 2000);
      }
    </script>
    <link rel="stylesheet" type="text/css" href="/css/in.css" />
    <link rel="stylesheet" type="text/css" href="/css/button.css" />
  </head>
  <body>
    <div class="limiter" id="a">
      <div class="container-login100">
        <div class="wrap-login100">
          <div class="login100-pic js-tilt" data-tilt>
            <img src="<%=data[3] %>" alt="IMG" />
          </div>

          <% if(message.length > 0){%>
          <div class="login100-pic js-tilt" data-tilt>
            <img
              src="data:image/jpg;base64,<%=message%>"
              alt="Image"
              style="width: 100%"
            />
          </div>
          <%}%> <% if(success.length > 0){%>
          <p style="color: red; font-size: larger"><%=success%></p>
          <%}%>

          <form
            id="form"
            class="login100-form validate-form"
            action="http://localhost:3000/parking/checkOut"
            method="POST"
          >
            <span class="login100-form-title"> Xe ra </span>
            <div class="text-center p-t-12">
              <span>Mã thẻ từ</span>
            </div>
            <% if(data) {%>
            <div
              class="wrap-input100 validate-input"
              data-validate="Valid email is required: ex@abc.xyz"
            >
              <input
                class="input100"
                type="text"
                name="id_card"
                value="<%=data[0] %>"
              />
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </span>
            </div>
            <div class="text-center p-t-12">
              <span>Biển số xe</span>
            </div>
            <div
              class="wrap-input100 validate-input"
              data-validate="Password is required"
            >
              <input
                class="input100"
                type="text"
                name="plate_number"
                value="<%=data[1] %>"
                id="b"
              />
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-lock" aria-hidden="true"></i>
              </span>
            </div>
            <div class="text-center p-t-12">
              <span>Thời gian ra</span>
            </div>
            <div
              class="wrap-input100 validate-input"
              data-validate="Password is required"
            >
              <input
                class="input100"
                type="text"
                name="time"
                value="<%=data[2] %>"
                readonly
              />
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-lock" aria-hidden="true"></i>
              </span>
            </div>
            <div class="container-login100-form-btn">
              <button class="login100-form-btn">Xác nhận</button>
            </div>
            <div class="container-login100-form-btn" id="open">
              <div>
                <a
                  href="http://localhost/openBarrier"
                  class="login100-form-btn"
                >
                  <span class="txt">Open barrier</span>
                  <span class="round"><i class="fa fa-chevron-right"></i></span>
                </a>
              </div>
            </div>
            <div class="text-center p-t-12">
              <a class="txt2" href="http://localhost:3000/parking">
                List parking
              </a>
              <br />
              <a class="txt2" href="http://localhost:3000/history"> History </a>
            </div>
          </form>
          <% } %> <% if(message.length > 0){%>
          <h2 style="margin-right: 120px">Kiểm tra lại</h2>
          <%}%>
        </div>
      </div>
    </div>
  </body>
  <script>
    // document.getElementById("b").addEventListener("focus", (e) => {
    //   console.log("focus");
    //   clearInterval(my_interval);
    // });
    // document.getElementById("b").addEventListener("focusout", (e) => {
    //   console.log("no focus");
    //   start_interval();
    // });
  </script>
</html>
